{% extends 'base.html.twig' %}

{% block title %}Nutrition Data{% endblock %}

{% block body %}
    <h1>Nutrition Data for {{ ingredient }}</h1>

    <ul>
        {% if nutritionData.totalNutrients is defined %}
            {% for key, value in nutritionData.totalNutrients %}
                <li>{{ key }}: {{ value.quantity }} {{ value.unit }}</li>
            {% endfor %}
        {% else %}
            <li>No nutritional data found for this ingredient.</li>
        {% endif %}
    </ul>
{% endblock %}
