{% extends 'base.html.twig' %}

{% block title %}Nutrition Data{% endblock %}

{% block body %}
    <h1>Nutrition Data for {{ ingredient }}</h1>

    {% if nutritionData is not empty %}
        <ul>
            {% for key, nutrient in nutritionData %}
                <li>{{ nutrient.label }}: {{ nutrient.quantity }} {{ nutrient.unit }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No nutritional data found for this ingredient.</p>
    {% endif %}
{% endblock %}
